* {
  font-family: "Lexend Deca", "Roboto";
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23d8a595' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cc3600' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f38826' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23cd2a0a' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23cd7d81' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ce2811' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b97e91' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23dc5410' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d87c40' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23d45917' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa6065' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23b82a2a' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"),
    linear-gradient(#afeeee, rgb(221, 245, 250));

  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.s-logo {
  padding: 20px;
}

.team-clean,
.item {
  text-align: center;
  padding-top: 10px;
}

.faqelement:hover {
  border: 1px solid black;
  margin: -1px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 9px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: gray;
  border: 1px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cc3600;
}

.navbar {
  background-image: linear-gradient(rgb(127, 199, 247), #b9eeee);
  margin: 0;
}

.nav-link {
  margin: 0 15px;
}

.nav-link:hover {
  text-decoration: underline;
}

.display-6 {
  color: #ec8d18;
  text-shadow: 1px 1px 2px #000000;
}

.panel p {
  padding-top: 13px;
}

@media screen and (min-width: 1500px) {
  .navbar-brand {
    margin-left: -50px;
  }
  .about-text {
    margin: auto !important;
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  nav .container {
    justify-content: space-around !important;
  }
}

a:hover {
  color: grey;
}
.hacktoberbox{
  position: absolute;
  width: 1122px;
  height: 753px;
  left: 156px;
  top: 173px;
  
  background: rgba(255, 255, 255, 0.6);
  border-radius: 114px;
}
.hacktoberimg{
  position: absolute;
  width: 929px;
  height: 376px;
  left: 238px;
  top: 333px;

}
.hacktobertxt{
  position: absolute;
  width: 918px;
  height: 56px;
  left: 226px;
  top: 783px;
  
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  
  color: #B53A25;
}
.hacktoberbtn{
  border: none;
  position: absolute;
width: 216px;
height: 40px;
left: 583px;
top: 861px;

background: #F74700;
border-radius: 7px;
font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #BFE0B3;
}
.hack{
  position: absolute;
  background: #F74700;
  margin-top: 50px;
  width: 286px;
height: 60px;
border-radius: 7px;
font-family: Barlow Semi Condensed;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 29px;
text-align: center;
color: #ffffff;
left: 583px;
border: none;
}
.hack:hover{
  background-color: rgba(168, 170, 170, 0.24);
  color:#F74700;
}